/* --------------------------------------------------
  GENERAL STYLES
-------------------------------------------------- */

body {
  line-height: 1.5;
  box-sizing: border-box;
  font-variant-ligatures: common-ligatures;
}

body,
td,
th {
  font-family: Merriweather, serif;
  color: #000000;
}

section {
  margin: 0;
  padding: 0;
  page-break-before: right;
  display: block;
}

article {
  display: block;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
}

h1+p,
h2+p,
h3+p {
  page-break-before: avoid;
}

h1 {
  font-size: 18pt;
  padding-bottom: 16pt;
}

h2 {
  font-size: 14pt;
  padding-top: 12pt;
  padding-bottom: 10pt;
}

h3 {
  font-size: 11pt;
  padding-top: 12pt;
  padding-bottom: 6pt;
}

h4 {
  padding-top: 6pt;
}

h4,
h5,
h6 {
  font-size: 10pt;
}

p,
li {
  font-size: 9pt;
  margin-bottom: 8pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

small {
  font-size: 8pt;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 7.5pt;
}

.col-number {
  width: 10%;
}

.col-article {
  width: 45%;
}

table tr {
  border-top: 0.5pt solid #C0C1C4;
}

table tr:last-of-type {
  border-bottom: 0.5pt solid #C0C1C4;
}

table td {
  padding: 3pt 6pt 3pt 0;
  vertical-align: top;
}

table th {
  text-align: left;
}

section.title,
section.intro,
section.copyright {
  text-align: center;
}

.title {
  padding-top: 2.7in;
}

.intro {
  padding-top: 1.5in;
}

.intro h3,
.intro h4 {
  font-weight: normal;
}

.intro h4 {
  line-height: 1.4;
}

.copyright {
  padding-top: 6in;
  padding-bottom: 0;
}

.title img,
.intro img {
  width: 2in;
  padding: 0.5in;
}

a {
  color: black;
  text-decoration: none;
}

/* --------------------------------------------------
  UTILITIES
-------------------------------------------------- */

.page-break-before {
  page-break-before: always;
}

/* --------------------------------------------------
  PDF TABLE OF CONTENTS
-------------------------------------------------- */

section.intro h1,
section.intro h2,
section.intro h3,
section.intro h4 {
  prince-bookmark-level: none;
}

section.copyright h3,
section.copyright h4 {
  prince-bookmark-level: none;
}

section.contents h2,
section.contents h3,
section.contents h4 {
  prince-bookmark-level: none;
}

section.index article header {
  prince-bookmark-level: 2;
}

/* --------------------------------------------------
  PAGE DEFINITIONS
-------------------------------------------------- */

section.title,
section.intro,
section.copyright {
  page: nonumbering;
}

section.contents {
  page: contents;
}

section.constitution {
  page: constitution;
}

section.canons {
  page: canons;
}

section.rules_of_order {
  page: rules_of_order;
}

section.resolution_index {
  page: resolutions-amending;
}

section.index {
  page: index;
}

/* --------------------------------------------------
  LISTS
-------------------------------------------------- */

ol {
  margin-left: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

ol ol {
  padding-left: 1rem;
}

li {
  padding-left: 0;
}

.contents ol li {
  margin-bottom: 3pt;
}

.no-numbering,
.sec-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

ol.decimal {
  list-style-type: decimal;
}

ol.lower-alpha {
  list-style-type: lower-alpha;
}

ol.lower-alpha-bold {
  list-style-type: lower-alpha;
}

ol.lower-roman {
  list-style-type: lower-roman;
}

ol.upper-alpha {
  list-style-type: upper-alpha;
}

ol.upper-roman {
  list-style-type: upper-roman;
}

ol.lower-alpha>li span.number,
ol.upper-alpha>li span.number,
ol.lower-roman>li span.number,
ol.upper-roman>li span.number,
ol.decimal>li span.number {
  position: absolute;
  left: -1cm;
  top: 0;
  display: block;
  width: 1cm;
  font-weight: normal;
}

ol.sec-list>li p span.number {
  display: inline-block;
  font-weight: bold;
}

/* --------------------------------------------------
  LISTS WITH PARENTHESES AS SEPARATOR
-------------------------------------------------- */

ol.parentheses {
  counter-reset: item;
  margin-left: 0;
  display: table;
  border-collapse: collapse;
}

ol.parentheses > li {
  counter-increment: item; 
  list-style: none;
  display: table-row;
  border-bottom: 8pt solid transparent;
}

ol.parentheses > li:before {
  content: "(" counter(item, decimal) ") "; 
  display: table-cell;
  padding-right: 0.5rem;
  text-align: right;
}

ol.decimal.parentheses > li:before {
  content: "(" counter(item, decimal) ") ";
}

ol.lower-alpha.parentheses > li:before,
ol.lower-alpha-bold.parentheses > li:before {
  content: "(" counter(item, lower-alpha) ") ";
}

ol.lower-alpha-bold.parentheses > li:before {
  font-weight: bold;
}

ol.lower-roman.parentheses > li:before {
  content: "(" counter(item, lower-roman) ") ";
}

ol.upper-alpha.parentheses > li:before {
  content: "(" counter(item, upper-alpha) ") ";
}

ol.upper-roman.parentheses > li:before {
  content: "(" counter(item, upper-roman) ") ";
}

/* --------------------------------------------------
  SIDEBAR TEXT
-------------------------------------------------- */

.constitution ol dfn,
.canons ol dfn,
.rules_of_order ol dfn {
  position: absolute;
  right: -1in;
  margin-top: 0.06cm;
  width: 0.85in;
  font-size: 8pt;
}

/* --------------------------------------------------
  INDEX
-------------------------------------------------- */

.index header {
  font-size: 16pt;
  text-align: center;
  page-break-after: avoid;
}

.index article {
  padding-bottom: 0.4in;
}

.index ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.index ul ul {
  padding: 0 0 0 0.5cm;
  font-weight: normal;
}

.index>ul {
  padding-left: 0;
}

.index ul li {
  margin: 0;
  padding: 1pt 0;
  width: 100%;
  clear: both;
  display: block;
  font-size: 8pt;
  line-height: 1.2;
}

.index ul li:not(.no-reference)::after {
  content: leader(dotted);
  font-weight: normal;
}

.index ul li small,
.index ul li span.reference {
  font-weight: normal;
}

.index ul li span.reference {
  float: right;
}

/* --------------------------------------------------
  HEADERS & TRANSLATIONS
-------------------------------------------------- */

body {
  string-set: tr_gc "The General Convention", tr_constitution "Constitution", tr_contents "Contents", tr_canon "Canon", tr_canons "Canons", tr_rules "Rules of Order", tr_section "Section", tr_index "Index", tr_resolutions_amending "Resolutions Amending the Constitution, Canons, and Rules of Order";
}

section.constitution h2[title] {
  string-set: headertextconstitution attr(title);
}

section.canons h2[title] {
  string-set: headertextcanontitle attr(title);
}

section.canons h3 {
  string-set: headertextcanonrange content();
}

section.canons li[data-section] {
  string-set: headertextcanonnumber attr(data-section);
}

section.rules_of_order h2[title] {
  string-set: headertextrulessubsection attr(title);
}

section.rules_of_order h3[data-section] {
  string-set: headertextrulesrange attr(data-section);
}

/* --------------------------------------------------
  PRINT SETUP
-------------------------------------------------- */

body {
  padding: 12pt 0;
}

@page {
  size: 6in 9in;
  margin-outside: 0.4in;
  margin-inside: 0.6in;
  margin-top: 0.6in;
  margin-bottom: 0.6in;
}

@page:right {
  @top-left {
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: bold;
    border-bottom: #7F7F7F solid thin;
    vertical-align: bottom;
    padding-bottom: 0.3cm;
  }
  @top-right {
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: bold;
    border-bottom: #7F7F7F solid thin;
    vertical-align: bottom;
    padding-bottom: 0.3cm;
  }
  @bottom-left {
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: bold;
    border-top: #7F7F7F solid thin;
    vertical-align: top;
    padding-top: 0.3cm;
  }
  @bottom-right {
    text-transform: uppercase;
    font-size: 9pt;
    border-top: #7F7F7F solid thin;
    vertical-align: top;
    padding-top: 0.3cm;
  }
}

@page:left {
  @top-left {
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: bold;
    border-bottom: #7F7F7F solid thin;
    vertical-align: bottom;
    padding-bottom: 0.3cm;
  }
  @top-right {
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: bold;
    border-bottom: #7F7F7F solid thin;
    vertical-align: bottom;
    padding-bottom: 0.3cm;
  }
  @bottom-left {
    text-transform: uppercase;
    font-size: 9pt;
    border-top: #7F7F7F solid thin;
    vertical-align: top;
    padding-top: 0.3cm;
  }
  @bottom-right {
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: bold;
    border-top: #7F7F7F solid thin;
    vertical-align: top;
    padding-top: 0.3cm;
  }
}

@page nonumbering {
  margin: -3cm 0;
}

@page contents:left {
  @bottom-right {
    content: string(tr_contents);
  }
}

@page contents:right {
  @bottom-left {
    content: string(tr_contents);
  }
}

@page constitution:left {
  padding-right: 1in;
  @bottom-right {
    content: string(tr_constitution);
  }
  @top-left {
    content: string(headertextconstitution, start);
  }
}

@page constitution:right {
  padding-right: 1in;
  @bottom-left {
    content: string(tr_constitution);
  }
  @top-right {
    content: string(headertextconstitution, start);
  }
}

@page canons:left {
  padding-right: 1in;
  @bottom-right {
    content: string(tr_canons);
  }
  @top-right {
    content: string(headertextcanontitle);
  }
  @top-left {
    content: string(tr_canon) " " string(headertextcanonnumber, start);
  }
}

@page canons:right {
  padding-right: 1in;
  @bottom-left {
    content: string(tr_canons);
  }
  @top-left {
    content: string(headertextcanontitle);
  }
  @top-right {
    content: string(tr_canon) " " string(headertextcanonnumber, start);
  }
}

@page rules_of_order:left {
  padding-right: 1in;
  @bottom-right {
    content: string(tr_rules);
  }
  @top-right {
    content: string(headertextrulessubsection);
  }
  @top-left {
    content: string(tr_section) " " string(headertextrulesrange, start);
  }
}

@page rules_of_order:right {
  padding-right: 1in;
  @bottom-left {
    content: string(tr_rules);
  }
  @top-left {
    content: string(headertextrulessubsection);
  }
  @top-right {
    content: string(tr_section) " " string(headertextrulesrange, start);
  }
}

@page resolutions-amending:left {
  @top-left {
    content: string(tr_resolutions_amending);
  }
  @bottom-right {
    content: string(tr_index);
  }
}

@page resolutions-amending:right {
  @top-right {
    content: string(tr_resolutions_amending);
  }
  @bottom-left {
    content: string(tr_index);
  }
}

@page index:left {
  @top-left {
    content: string(tr_index);
  }
}

@page index:right {
  @top-right {
    content: string(tr_index);
  }
}

/* --------------------------------------------------
  SCREEN ONLY STYLES
-------------------------------------------------- */

@media screen {
  .constitution ol dfn,
  .canons ol dfn,
  .rules_of_order ol dfn {
    position: absolute;
    right: 1.4cm;
    width: 1.3in;
  }
  body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: #FFFFFF;
  }
  section {
    margin: 1.5rem 0 !important;
    padding: 3rem !important;
    border: 2px solid #C4C4C4;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
    display: block;
    clear: both;
  }
  .constitution,
  .canons,
  .rules-of-order {
    padding-right: 13rem !important;
  }
  .title,
  .intro,
  .copyright {
    padding-top: 0;
  }
  a {
    color: darkblue;
  }
  a:hover {
    color: blue;
    text-decoration: underline;
  }
}
