/* --------------- PATTERN LIBRARY  ----------------------*/

body.pattern-library {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
  line-height: 1.4;
  font-family: sans-serif;
}

.pattern-library xmp {
  background: #EBFFE5;
  padding: 0.4rem 0 1rem 0;
  margin: 0 0 3rem 0;
  border-radius: 5px;
  border: 1px solid #B3FFAC;
  font-size: 0.88rem;
  font-family: Menlo, Andale Mono, monospace;
  color: #1D9016;
}

.pattern-library code {
  font-size: 1rem;
  font-family: Menlo, Andale Mono, monospace;
  color: #1D9016;
}

.pattern-library h2 {
  margin-top: 2rem;
}

.pattern-library input[type="button"] {
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: none;
  outline: none;
  border: 2px solid #BBBDC3;
  background-color: #E0E3EE;
  border-radius: 5px;
}

.pattern-library input[type="button"]:hover {
  cursor: pointer;
  cursor: hand;
  background-color: #E9EDF8;
}

.pattern-library section {
  margin: 0 0 3rem 0;
  padding: 0 0 3rem 0;
}

.pattern-library p {
  padding: 0;
  margin: 0 0 1rem 0;
}

.pattern-library .label {
  background-color: #86C388;
  color: white;
  border-bottom-left-radius: 5px;
  padding: 0.3rem 1rem;
  display: inline-block;
  float: right;
  font-size: 0.7rem;
  margin: 0 0 0.5rem 1rem;  
}
